.section-info {
    background-image: url(../../images/background-mountains.svg);
    background-repeat: no-repeat;
    background-position: 70% bottom;
    background-size: 110%;
    margin: auto;

}