.footer {
    padding: 10px 0;
    background-color: $additional-bg-color;
    color: $alternate-text-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    text-transform: uppercase;

}
