$main-bg-color: #fff;
$additional-bg-color:#6da387;
// use for contrast with bg color:
$alternate-text-color: #fff;
//
$title-color: #FF725E;
$accent-color:#FF725E;
$subtitle-color:#2B4A4A;
$text-color: #296e6b;
$border-color: #DAE4E5;
$btn-bg-color: #69A4A2;
$link-color:#296e6b;
$minor-text-color:#94C0C2;
$error-color: #F00;
