.header {
    display: flex;

    min-height: 20px;
    align-items: center;
    justify-content: space-between;

    transition: all .7s ease-in;
    padding: 0 20px;


}

@media(max-width: 767px) {
    .header{

    }
}
