.header {
    display: flex;
    width:100%;
    min-height: 20px;
    align-items: center;
    justify-content: space-between;
    transition: all .7s ease-in;



}

@media(max-width: 767px) {
    .header{

    }
}
